
<html>
	<h1> Characters </h1>

	<body>
<p> In this page you will see a list of guides on each character </p>

<p align="left"><a href=/><button class=black style="height:50px;width50px">Home</button></a></p>
<form action="" method="post" name"form"> 
<label for="Name">Character:</label>
<input type="text" name="Character" id="Character"/>
<input type="submit" name="submit" id="submit"/>
</form>
<p align="right"><a href=/guides/><button class=black style="height:50px; width50px">Back</button></a></p>
	
</body>
<h2 align="center"><a href=/characterstats/><button class=n;acl style="height:50px; width:80px">Character stats</button></a></h2>
</html>
