
<html> 
	<h1> Preformance last game</h1>
	<body>
		
		<p> In this page we go through how you preformed in your last game from your damage delt, income/money and your kill participation<p>

		<p> The preformance in each game can always be improved as your stats for damage delt can always be higher the same with the kill participation in each of the games and the time taken to get the income/money should always be faster</p> 
		
		<p> The way in which we measure your general improvement is by having graphs to compare betweeen each other </P>

		<p align="left"><a href='/'><button class=black style="height:50px;width:50px">Home</button></a></p>

	</body>
	<h2 align="right"><a href='/player/'><button class=black style="height:50px;width:50px">Back</button></a></h2>

</html>

