
<html> 
	<h1>Stats</h1>

	<body>
		<p> In this page we will find out your statistics in how you generally preform in each game this will be shown with:</p>
		<p>-Damage delt</p>
		<p>-Income/Money</p>
		<p>-Kill participation</p>

		<p> These three things damage delt income/money and kill particpation we can measure them all out with a graph and we would be able to see if you have progressed well over time</p>

		<p align="left"><a href='/'><button class=black style="height:50px;width50px">Home</button></a></p>

	</body>

	<h2 align="right"><a href='/player/'><button class=black style="height:50px;width50px">Back</button></a></h2>

</html
>
