<html>
	<h1> League Data </h1>
	<img src="https://wallpaperaccess.com/full/217097.jpg" alt="wallpaperaccess.com" height="300px" width="400px"> </img>
	 
	<body>

		<form align="center" action="" method="post" name="form">
		<label for="name">Player/Character:</label>
		<input type="text" name="Player/Character" id="player/Character"/>
		<input type="submit" name="submit" id="submit"/>
		</form>
		<p> The goal of League Data is to teach you how to improve on your key areas of the game</p>
		<p align="right"><a href=guides><button class=black style="height:50px;width50px">guides</button></a></p>


		<p align="right"><a href=/player/><button class= black style"height:50px;width:50px">Player</button></a></p>

		</body>

</html>

